event-app/event-app/app/out/
event-app/event-app/app/build/
event-app/event-app/identity-manager/out/
event-app/event-app/identity-manager/build/
event-app/event-app/build/
event-app/event-app/customer-api/out/
event-app/event-app/customer-api/build/